/* Roboto & Roboto Slab */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors */
:root {
  --clr-main-bg: #f8f7f2;
  --clr-secondary-bg: #f2f2d9;
  --clr-white: #ffffff;
  --clr-green: #96bb36;
  --clr-orange: #f0972a;
  --clr-midgrey: #a5a5a5;
  --clr-darkgrey: #626262;
  --clr-lightgrey: #d8d8d8;
  --clr-border-grey: #00000012;
  --clr-border-lightgrey: #f0efea;
  --clr-border-btn: #00000029;

  /* fonts */
  --ff-roboto: "Roboto";
  --ff-roboto-slab: "Roboto Slab";
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-roboto);
  background-color: var(--clr-main-bg);
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}

/* Universal styling for all the inputs and select fields*/
input,
select,
textarea {
  margin: 10px;
  height: 40px;
  font-size: 18px;
  font-weight: 400;
  color: var(--clr-darkgrey);
  background-color: var(--clr-border-lightgrey);
  border: 1px solid var(--clr-midgrey);
  border-radius: 5px;
  padding: 10px;
}



select,
option,
input[type="text"]::placeholder,
input[type="textarea"]::placeholder,
input[type="email"]::placeholder,
input[type="date"]::placeholder,
input[type="password"]::placeholder,
input[type="number"]::placeholder {
  font-size: 18px;
  font-weight: 500;
  color: var(--clr-midgrey);
  line-height: 1.5;
  text-align: left;
}

textarea:focus:active {
  border: 1px solid var(--clr-lightgrey);
  box-shadow: 0 3px 6px var(--clr-lightgrey);
  font-size: 18px;
}

textarea {
  resize: none;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focused="true"]~span {
  display: inline-block;
}

label {
  font-family: var(--ff-roboto-slab);
  font-weight: bold;
  color: var(--clr-orange);
}

@media screen and (max-width:500px) {
  label {
    font-size: 17px;
  }
}

@media screen and (min-width:505px) {
  label {
    font-size: 18px;
    text-align: left;
  }
}


/* fonts */

.robotoSlab {
  font-family: var(--ff-roboto-slab);
}

/* Borders */

.line-border {
  border: 2px solid #d8d8d8;
}

.border-bottom {
  border-bottom: 3px solid #d8d8d8;
}

/* Recipe Image */

.recipe_img {
  position: relative;
}

.category {
  position: absolute;
}

/* Dots */

.dot {
  width: 9px;
  height: 9px;
  background: var(--clr-orange);
  border-radius: 50%;
  display: inline-block;
}

.black_dot {
  width: 9px;
  height: 9px;
  background: var(--clr-darkgrey);
  border-radius: 50%;
  display: inline-block;
}

.gray_dot {
  width: 9px;
  height: 9px;
  background: var(--clr-lightgrey);
  border-radius: 50%;
  display: inline-block;
}

/* Main & Secondary Heading */

.textMainHead {
  color: var(--clr-green);
  font-family: var(--ff-roboto-slab);
  font-weight: bold;
}

.textMainHead::after {
  content: "";
  display: inline-block;
  height: 0.5em;
  width: min(56vw, 1200px);
  vertical-align: bottom;
  margin: 0 0 0 10px;
  border-bottom: 2px solid #d8d8d8;
}

@media screen and (max-width: 500px) {
  .textMainHead::after {
    content: "";
    display: inline-block;
    height: 0.5em;
    width: min(40vw, 70vw);
    vertical-align: bottom;
    margin: 0 0 0 10px;
    border-bottom: 2px solid #d8d8d8;
  }
}

.textSubHead {
  color: var(--clr-orange);
  font-family: var(--ff-roboto-slab);
  text-transform: capitalize;
  font-weight: bold;
}

/* Modal custom CSS */
.modal-overlay {
  background: transparent;
  backdrop-filter: blur(5px);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 250px) {
  .modal {
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 0px 100rem rgba(0, 0, 0, 0.75);
    border-radius: 0.4rem;
    width: min(90vw, 130rem);
  }
}


/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
li,
a {
  list-style: none;
  text-decoration: none;
}


/* React- FileBase64 Upload Button */
.input-file input[type="file"],
[role="button"] ::-webkit-file-upload-button {
  border: 1px solid var(--clr-border-grey);
  color: var(--clr-midgrey);
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 500;
  height: 45px;
  cursor: pointer;
  width: 270px;
  margin: .5rem auto;
}

.input-file input[type="file"]::-webkit-file-upload-button {
  display: none;
}


.input-file_for_user-profile input[type="file"],
[role="button"] ::-webkit-file-upload-button {
  border-radius: 50%;
  width: 200px;
}


@media screen and (max-width: 540px) {

  .input-file input[type="file"],
  [role=button] ::-webkit-file-upload-button {
    width: 300px;
    margin: 1rem auto;

  }
}